# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to localhost
# DATABASE_URL="postgresql://[YOUR-USER]:[PASSWORD]@localhost:5432/[YOUR-DATABASE]?schema=public"

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://[YOUR-USER]:[YOUR-PASSWORD]@[YOUR-HOST-SUPABASE]:6543/[YOUR-DATABASE]?pgbouncer=true"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://[YOUR-USER]:[YOUR-PASSWORD]@[YOUR-HOST-SUPABASE]:5432/[YOUR-DATABASE]"
